<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">

      <ion-back-button defaultHref="/" text="Volver" color="warning" mode="ios">

      </ion-back-button>


    </ion-buttons>
    <ion-title>Tienda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
<ion-card-content>
        <ion-card-title>
         The Goden Hn
        </ion-card-title>
        <p>Tienda en Linea..............................................</p>
      </ion-card-content>
    </ion-card>
  <ion-card>
<ion-card-content>
        <ion-card-title>
         Detalle de los Productos
        </ion-card-title>
        <p>Mercedes Victoria Alfaro: Estudiante de la carrera de ingeniería informática (Segundo año)</p>
  <p>Edison Augusto Salgado:  Estudiante de la carrera de ingeniería informática (Segundo año)</p>
  <p>Juan Francisco Vasquez:  Estudiante de la carrera de ingeniería informática </p>
      </ion-card-content>
    </ion-card>
</ion-content>
