

ion-slide{
    display: block;
    
  }
  
  .slide-img-padding{
    padding: 60 px;
    background-color: red;
  }
  
  h3 {
    font-size: 50 px;
    font-weight: lighter;
    margin-bottom: 60px;
    
  }
  .btn-primary{
    height: 60px;
  }

